$black2: #282c34;
$black: rgb(9, 9, 9);
$white: #fff;
$red: #CF2434;
$darkred: #881520;
$blue: #155E87;
$darkblue: #0f4564;
$green: #498258;
$gray: #8e8e8e;

// Font Sizes
$fontLarge: 3rem;

// Font Family
$font1: 'Montserrat', sans-serif;
$font2: 'ArchivoNarrow', 'Montserrat', sans-serif;
$font3: 'BebasNeue', 'Montserrat', sans-serif;
$italic: 'ArchivoNarrow-Italic', 'Montserrat', sans-serif;

// Font Weight
$boldest: 900;
$bolder: 700;
$bold: 600;
$medium: 400;
$light: 300;
$lighter: 200;
$lightest: 100;

// Font Size
$extreme: 88px;
$largest: 40px;
$larger: 36px;
$large: 28px;
$regularplus: 24px;
$regular: 20px;
$small: 16px;
$smaller: 14px;
$smallest: 12px;

// Media Screens
$desktop: 1400px;
$midsize: 1000px;
$phone: 750px;


//MISC
$shadow: 0px 4px 12px rgba(0, 0, 0, 0.24);