@import "./vars";

#homepage {
    #about {
        .banner {
            h2 {
                padding: 0 15px;
    
                span {
                    color: $white; 
    
                    &:nth-child(1) {
                        color: $red;
                    }
                }
            }
        }
    
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: $desktop;
            margin: auto;
            -webkit-animation: fade .8s ease forwards;
                    animation: fade .8s ease forwards;

            @-webkit-keyframes fade {
                0%{ opacity: 0; }
                100% { opacity: 1;}
            }
    
            @keyframes fade {
                0%{ opacity: 0; }
                100% { opacity: 1;}
            }
            
            .img-wrap {
                margin-right: 20px;
                img {
                    max-width: 500px;
                }
            }
    
            p {
                color: $black;
                font-size: $regularplus;
                margin-bottom: 20px;
            }

            .btn-wrap {
                button {
                    background-color: $blue;

                    &:hover {
                        background-color: $lightblue;
                    }
                }
            }

            @media screen and (max-width: $midsize) {
                display: block;
                min-height: 320px;

                .img-wrap {
                    float: left;
                    max-width: 300px;
                    img {
                        width: 100%;
                    }
                }

                p {
                    font-size: calc($regularplus * .8);
                }
            }

            @media screen and (max-width: $phone) {
                .img-wrap {
                    max-width: 250px;
                }
            }

            @media screen and (max-width: 555px) {
                .img-wrap {
                    max-width: 300px;
                    margin: 0 auto 32px;
                    float: none;
                }
            }
        }
    }
}
