@import "./vars";

#homepage {
    #about {
        .banner {
            h2 {
                padding: 0 15px;
    
                span {
                    color: $white; 
    
                    &:nth-child(1) {
                        color: $red;
                    }
                }
            }
        }
    
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: $desktop;
            margin: auto;
            
            .img-wrap {
                margin-right: 20px;
            }
    
            p {
                color: $black;
                font-size: $regularplus;
                margin-bottom: 20px;
            }

            @media screen and (max-width: $midsize) {
                display: block;

                .img-wrap {
                    float: left;
                    max-width: 300px;
                    img {
                        width: 100%;
                    }
                }

                p {
                    font-size: calc($regularplus * .8);
                }
            }
        }
    }
}
