@import "./vars";

#homepage {
    #about {
        .banner {
            h2 {
                padding: 0 15px;
    
                span {
                    color: $white; 
    
                    &:nth-child(1) {
                        color: $red;
                    }
                }
            }
        }
    
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: $desktop;
            margin: auto;
            
            .img-wrap {
                margin-right: 20px;
            }
    
            p {
                color: $black;
                font-size: $regular;
                margin-bottom: 20px;
            }
        }
    }
}
