@import "./vars";

#nav {
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        max-width: $desktop;
        margin: auto;

        h1 {
            span {
                font-family: $font1;
            }
            
            .link {
                text-decoration: none;
                font-family: $font3;
                font-weight: $bolder;
                font-size: $largest;
            }
        }

        .navlinks {
            display: flex;

            .link {
                text-decoration: none;
                color: $black;
                font-family: $font2;
                font-weight: $bolder;
                font-size: $small;
                margin: 0 20px;
                cursor: pointer;

                
        
                &:hover {
                    text-decoration: underline;
                }
            }

            .btn, .btn-secondary {
                padding: 4px 20px;
                font-size: $small;
                margin: 0 10px;
            }
        }
    }

    .banner {
        width: 100%;
        background: $black;
        padding: 10px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: $smallest;
        }

        .link {
            color: $white;
            font-family: $font1;
            font-weight: $bold;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $phone) {
    #nav {
        nav {
            h1 {
                .link {
                    font-size: calc($largest * .8);
                }
            }
    
            .navlinks {    
                .link {
                    display: none;
                }
    
                .btn, .btn-secondary {
                    font-size: calc($small * .8);
                    margin: 0 5px;
                }
            }
        }

        .banner {
            p {
                font-size: calc(.9 * $smallest);
            }
    
            .link {
                color: $white;
                font-family: $font1;
                font-weight: $bold;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}